{% extends "layout.html" %}
{% block title %}All Interviews{% endblock %}
{% block content %}


    <h1>{% if story %}User Story Management - Edit Story{% else %}User Story Management - Add New
        Story{% endif %}</h1>

    <div class="form-wrapper">

        <form  {% if story %} action="{{ url_for('edit_user_story', story_id = story.id) }}"{% else %}
                              action=" {{ url_for('add_user_story') }}" {% endif %} method="post">

            <div class="input-group">
                <label for="story_title">Story title</label>
                <textarea required id="story_title" name="story_title">{% if story %}{{ story.story_title }}{% endif %}</textarea>

                <label for="user_story">User Story</label>
                <textarea required id="user_story" name="user_story">{% if story %}{{ story.user_story }}{% endif %}</textarea>

                <label for="acceptance_criteria">Acceptance criteria</label>
                <textarea required id="acceptance_criteria" name="acceptance_criteria">{% if story %}{{ story.acceptance_criteria }}{% endif %}</textarea>

                <label for="business_value">Business Value</label>
                <input id="business_value" type="number" name="business_value" min="100" max="1500" step="100"
                       {% if story %}value="{{ story.business_value }}"{% else %}value="100"{% endif %} required>

                <label for="estimation">Estimation</label>
                <input id="estimation" type="number" name="estimation"  min="0.5" max="40" step="0.5"
                       {% if story %}value="{{ story.estimation }}"{% else %}value="0.5"{% endif %}required>

                <label for="status">Status</label>
                <select id="status" name="status" required>
                    <option {% if story %}value="{{ story.status }}"{% endif %}>{% if story %}{{ story.status }}{% else %}{% endif %}</option>
                    <option value="planning">planning</option>
                    <option value="to-do">to-do</option>
                    <option value="in-progress">in-progress</option>
                    <option value="review">review</option>
                    <option value="done">done</option>
                </select>


                <div class="submit-wrapper">
                    <input type="submit">
                </div>

            </div>

        </form>
    </div>

{% endblock %}