<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>


<nav class="navigator navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="button-wrapper">
            <a class="userstory-button" href="{{ url_for('empty_user_story') }}">
                <button>Add story</button>
            </a>
        </div>
    </div>
</nav>

    <div class="pattern">
        <img src="../static/img/background.jpg" alt="background">
    </div>

<body>


<section class="container-fluid container">
    {% block content %} {% endblock %}
</section>
</body>
<footer>

</footer>
</html>

