{% extends "layout.html" %}
{% block title %}All Interviews{% endblock %}
{% block content %}

    <h1>User Story Manager</h1>
    <table id="storytable">
        <tr>
            <th>Id</th>
            <th>Story Title</th>
            <th>User story</th>
            <th>Acceptance criteria</th>
            <th>Business value</th>
            <th>Estimation</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for story in stories %}
            <tr>
                <td>{{ story.id }}</td>
                <td>{{ story.story_title }}</td>
                <td>{{ story.user_story }}</td>
                <td>{{ story.acceptance_criteria }}</td>
                <td>{{ story.business_value }}</td>
                <td>{{ story.estimation }}</td>
                <td>{{ story.status }}</td>

                <td id="edit">
                    <a class="mybuttons" href="{{ url_for('get_story_for_edit', story_id = story.id) }}">
                        <img src="{{ url_for('static', filename='img/pencil.svg') }}" alt="Edit Icon">
                    </a>
                </td>
                <td id="delete">
                    <a class="mybuttons" href="{{ url_for('delete_user_story', story_id = story.id) }}">
                        <img src="{{ url_for('static', filename='img/delete.svg') }}" alt="Edit Icon">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}